/* prehome.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px; /* Add padding for fixed header */
  padding-bottom: 60px; /* Add padding for fixed footer */
  overflow-y: auto;
}

.info-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px 0;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20%;
}

.info-box .icon {
  margin-bottom: 10px;
  width: 50px; /* Ensure a specific width for icons */
  height: 50px; /* Ensure a specific height for icons */
}

.info-box .icon img {
  width: 100%;
  height: 100%;
}

.info-text {
  background: linear-gradient(to right, #90ee90, #00008b); /* Light green to dark blue */
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  color: #000; /* Text color */
  font-weight: bold;
}

.info-title {
  font-size: 18px;
  margin: 5px 0;
}

.info-count {
  font-size: 24px;
  margin: 5px 0;
}

.banner-content8 {
  text-align: center;
  background-color: #2d3e50;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  width: 80%;
}

.banner-content8 button {
  background-color: white;
  color: #2d3e50;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.banner-content8 button:hover {
  background-color: #2d3e50;
  color: white;
  text-decoration: none;
}

.links-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px 0;
}

.link-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
}

.link-box img {
  margin-bottom: 10px;
}

.link-box p {
  margin: 0;
  padding: 0;
}

#content1{
  color: orange;
}
