html, body {
  height: 100%;
  margin: 0;
}

.tasks-events-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Increased to accommodate three sections */
  margin-bottom: 40px;
}

.tasks-events-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  /* Removed margin-left to center-align the content */
}

.tasks-section, .events-section, .new-tasks-section {
  width: 30%;
 

}

.tasks-section h2, .events-section h2, .new-tasks-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center; /* Center the titles */
}

.tasks-section ul, .events-section ul, .new-tasks-section ul {
  list-style-type: none;
  padding: 0;
}

.tasks-section li, .events-section li, .new-tasks-section li {
  margin-bottom: 10px;
  font-size: 1rem;
}

.events-section a {
  color: #007bff;
  text-decoration: none;
}

.events-section a:hover {
  text-decoration: underline;
}

.footer {
  margin-top: auto;
}

.new-tasks-section {
  margin-top: 20px;
}

.new-tasks-section ul {
  list-style-type: none;
  padding: 0;
}

.new-tasks-section li {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
